body {
    font-family: monospace;
    margin: 0%;
}

#content {
    padding: 15px 200px;
    text-align: center;
    align-content: center;
}

#content p {
    font-weight: 600;
    font-size: large;
}

.code {
    margin: auto;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    width: auto;
    white-space: pre-line;
    text-align: left;
}

button {
    color: #ffffff;
    background-color: #00b2ff;
    font-family: monospace;
    font-size: 19px;
    border-width: 0px;
    border-radius: 10px;
    padding: 10px 50px;
    cursor: pointer
}
button:hover {
    color: #ffffff;
    background-color: #ffa800;
}